name: Deploy to Instance

env:
    REPO_NAME: ${{ github.event.repository.name }}
    REPO_URL: ${{ github.event.repository.url }}

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Connect to AWS Lightsail, extract file and delete the file
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.HOST_IP }}
                  username: ${{ secrets.USERNAME }}
                  password: ${{ secrets.SSH_PASSWORD }}
                  passphrase: ""
                  port: 22
                  script: |

                      cd /var/www/Asis/Backend && sudo npm install && if sudo npm stop; then
                        # If command1 succeeds
                        echo "Command 1 succeeded"
                        # Run another command
                        sudo npm start
                      else
                          # If command1 fails
                          echo "Command 1 failed"
                          # Run a different command
                          sudo npm start
                      fi

#  if [ -d /var/www/Asis ]; then
#               cd /var/www/Asis && git pull
#             else
#               git clone https://github.com/Pr3c10us/Asis.git /var/www/Asis
#             fi
#             cd /var/www/Asis/Frontend && sudo npm install && sudo npm run build
#             cd /var/www/Asis/Admin && sudo npm install && sudo npm run build
